* {
    margin: 0;
    padding: 0;
}

#app {
    width: 100%;
    min-height: 100vh;
    background-color: #FFFFE0;
}

.load {
    width: 200px;
    padding: 4px 16px;
    display: block;
    margin: 0 auto 50px auto;
    cursor: pointer;
}

.loader-img {
    width: 100px;
    display: none;
    margin: 0 auto;
}

.table {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-column-gap: 10px;
}

.card {
    width: 80%;
    border: 2px solid gray;
    border-radius: 8px;
    padding: 4px;
    display: block;
    margin: 4px;
}

.card__names {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.statistics {
    width: 100%;
    background-color: #DCDCDC;
}